@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

div {
  text-align: center;
  padding: 1%;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: repeating-linear-gradient(90deg, white, #f8d7da 5%, white);
  width: 100%;
  height: 100vh;
}

.filter {
  margin: auto;
  width: 35em;
}
