<div class="container">
<div class="top">
<div>  <h1>next steps for {{milestone}} {{status}}</h1> </div>
</div>
  <div class="input-group mb-3 filter">
  <input type="text" class="width form-control form-control-sm" placeholder="filter" [formControl]="search" (input)="filterSteps()"/>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary btn-sm" type="button" (click)="back()">clear</button>
  </div>
  </div>
<div>
  <table class="table table-striped table-hover  table-responsive">
    <thead>
    <tr>
      <th scope="col">responsible</th>
      <th scope="col">toDo</th>
      <th scope="col">notes</th>
      <th scope="col">context</th>
      <th scope="col"></th>
    </tr>
    </thead>
<tbody>
<tr *ngFor="let step of nextSteps" >
  <th scope="row">{{ step.nickname }}</th>
  <td>{{ step.todo }}</td>
  <td>{{ step.notes }}</td>
  <td>{{ step.context }}</td>
  <!--  <td><a class=" bi bi-pen " style="font-size: 1.5rem; color: mediumblue;"[routerLink]="['/project', project.project_id]"></a>
    <span class=" bi bi-trash px-2" style="font-size: 1.5rem; color: darkred;" (click)="deleteProject(project.project_id)"></span></td> -->
</tr>
</tbody>
</table>
</div>
</div>
