@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
div{

  text-align: center;
  padding: 1%;
}
a{
  color: rebeccapurple;
  text-decoration: none;
}

.invalid-feedback {
  background-color: #b6d4fe;
}

.ausdehnen {
  background-image: repeating-linear-gradient(#f8d7da, white 10%, #f8d7da 20%);
  width: 100%;
  height: 100vh
}

.table{
  opacity: 0.8;
}

.filter{
  margin:  2em auto;
}

.margin-sides {
  margin-left: 10em;
  margin-right: 5em;
}

.width{
  width: 20em;
}
