
<div class="ausdehnen">
  <div><h1>pi pa projects</h1></div>
<table class="table table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th scope="col">Project ID</th>
    <th scope="col">Project</th>
    <th scope="col">Topic</th>
    <th scope="col">Deadline</th>
    <th scope="col">Milestones</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let project of allProjects" >
       <th scope="row">{{  project.project_id  }}</th>
       <td>{{ project.project_name }}</td>
       <td>{{ project.topic }}</td>
       <td>{{ project.deadline | date }}</td>
       <td>
         <span *ngFor="let milestone of project.milestone_name"> <a [routerLink]="['/milestone', milestone]">  <{{milestone}}>  </a></span>
       </td>
     <td><a class=" bi bi-pen " style="font-size: 1.5rem; color: mediumblue;" [routerLink]="['/projects', project.project_id]"></a>
     <span class=" bi bi-trash px-2" style="font-size: 1.5rem; color: darkred;" (click)="deleteProject(project.project_id!)"></span>
      </tr>
  <tr>

    <td></td>

    <td class="input-group">
      <input type="text" class="form-control" id="validationCustom01" placeholder="Project Name" [formControl]="projectNameControl"
             [class]="projectNameControl.touched ? projectNameControl.valid ? 'is-valid' : 'is-invalid' : ''">
      <div class="invalid-feedback">
        Project must be named.
      </div>
    </td>

    <td>
      <input type="text" class="form-control" id="idTopic" placeholder="      topic" [formControl]="topicControl" />
    </td>
    <td class="input-group has-validation">
      <input type="text" class="form-control" id="idDeadline" placeholder="Deadline in MM/DD/YYYY" [formControl]="deadlineControl"
             [class]="deadlineControl.touched ? deadlineControl.valid ? 'is-valid' : 'is-invalid' : ''">
      <div class="invalid-feedback">
        MM/DD/YYYY
      </div>
    </td>
    <td></td>
   <td>
  <button class=" bi bi-building-add px-2" style="font-size: 1rem; color: mediumblue;" (click)="createNewProject()"> add </button>
    </td>

  </tr>
  </tbody>
</table>
</div>
