<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a [routerLink]="''" class="navbar-brand">home</a>
    <a *ngIf="isLoggedIn" [routerLink]="'projects'" class="navbar-brand">projects</a>
    <div></div>


    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  //TODO: hamburger menu zeigt keine Links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="!isLoggedIn" class="navbar-nav mb-2 mb-lg-0" id="left">
        <li class="nav-item">
          <a [routerLink]="'register'" aria-current="page" class="nav-link active me-auto ve"> register</a>
        </li>
        |
        <li class="nav-item">
          <a [routerLink]="'login'" aria-current="page" class="nav-link active me-auto ve"> login</a>
        </li>

      </ul>
      <ul *ngIf="isLoggedIn" class="navbar-nav mb-2 mb-lg-0" id="left">
        <li class="nav-item" class="nickname">
          <h6> {{ nickname }} </h6>
        </li>
        <h5>|</h5>
        <li class="logout">
          <button (click)="callLogout()" class="btn btn-outline-dark btn-sm" type="button"> logout</button>
        </li>
      </ul>
    </div>

  </div>
</nav>
