<div class="bucket">

  <div class="container">
    <h1 class="my-5">{{ isRegistration() ? 'registration' : 'login' }}</h1>

    <div class="mb-3 form-floating">
      <input [class]="nicknameControl.touched ? nicknameControl.valid ? 'is-valid' : 'is-invalid' : ''" [formControl]="nicknameControl" class="form-control" id="idNickname" placeholder="nickname"
             type="text">
      <label for="idNickname">nickname</label>
      <div class="invalid-feedback">
        Please provide a nickname.
      </div>
    </div>

    <div class="mb-3 form-floating">
      <input [class]="passwordControl.touched ? passwordControl.valid ? 'is-valid' : 'is-invalid' : ''" [formControl]="passwordControl" class="form-control" id="idPassword" placeholder="password"
             type="text">
      <label for="idPassword">password</label>
      <div class="invalid-feedback">
        Please provide a password.
      </div>
    </div>

    <div class="row">
      <div *ngIf="isLogin()" class="col">
        <button (click)="login(content)" class="w-100 btn btn-outline-success" type="button">login</button>
      </div>
      <div *ngIf="isRegistration()" class="col">
        <button (click)="register(content)" class="w-100 btn btn-outline-success" type="button">register</button>
      </div>
      <div class="col">
        <button (click)="cancel()" class="w-100 btn btn-outline-info" type="button">cancel</button>
      </div>
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h6 *ngIf="isRegistration() && registrationOK()" class="modal-title" id="modal-basic-title"> New
        user {{ nicknameControl.value }} registered!</h6>
      <h6 *ngIf="isRegistration() && !registrationOK()" class="modal-title"
          id="modal-basic-title1"> {{ errorMessage }} </h6>
      <h6 *ngIf="isLogin() && loginErrorDisplay()" class="modal-title" id="modal-basic-title2"> {{ errorMessage }} </h6>
      <h6 *ngIf="isLogin() && !loginErrorDisplay()" class="modal-title" id="modal-basic-title3">
        user {{ nicknameControl.value }} logged in </h6>

      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
    </div>
  </ng-template>

</div>
